.partial-view-header{
  position: relative;
  height: 60px;
  padding:10px 10px;
  margin: auto;
  border-bottom: 1px solid lightgray;
}
.partial-view-content{
  position: relative;
  height: auto;
  min-height: 10%;
  padding:10px;
  margin: auto;
}
.pull-right{
  float: right;
}
